body {
  background-color: #b1dfeb;
}
.container {
  margin: auto;
  
  
}

.btn-msg , .btn-connect {
  width: 100px;
  display: inline;
  margin: 5px;
  background-color: yellowgreen;
}

.btn-call {
  display: block;
  margin: 20px;
  width: 200px;
  height: 50px;
  background-color: seagreen;
  
}

#hangbtn {
  margin: 30px;
  width: 150px;
  height: 25px;
  background-color: darkred;
  
}

input {
  width: 200px;
  height: 50px;
}

/*video {
  transform: scaleX(-1);
}*/